<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Indian Newspaper Reader</title>
  <meta name="description" content="Helps read Indian news paper advertisement for movies">
  <meta name="author" content="Jenny Chen, Miranda Liu">

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/datepicker.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <!-- left side -->
      <div class="col-12 img-container justify-center" id="left-side">
        <!-- sentinel canvas to convert pdf to img -->
        <canvas id="pdf-canvas" class="hide-on-load"></canvas>

        <!-- upload files and input date -->
        <form class="row" action="/rawinput" enctype="multipart/form-data" method="post" id="form-container">
          <!-- template upload -->
          <div class="col-12 offset-md-3 col-md-6 mt-3">
            <div class="input-group">
              <div class="custom-file">
                <input name="excel" type="file" class="custom-file-input" id="upload-template" accept=".xls,.xlsx" required>
                <label class="custom-file-label" for="upload-template" id="upload-template-label">Upload excel template</label>
              </div>
            </div>
          </div>
          <!-- template error message -->
          <div class="col-12 offset-md-3 col-md-6 mt-1 text-danger hide-on-load" id="template-error"></div>
          <!-- date input -->
          <div class="col-2 offset-md-3 col-md-1 mt-4">
            <label for="date-input">Month</label>
          </div>
          <div class="col-10 col-md-5 mt-3">
            <input name="month" class="form-control" type="text" onchange="dateChange()" id="date-input" onkeydown="return false;">
          </div>
          <!-- netid input -->
          <div class="col-2 offset-md-3 col-md-1 mt-4">
            <label for="netid">NetID</label>
          </div>
          <div class="col-10 col-md-5 mt-3">
            <input name="netid" class="form-control" type="text" id="netid" required> 
          </div>

          <!-- start button -->
          <div class="col-12 mt-3 text-center">
            <button type="submit" class="btn btn-primary">Start</button>
          </div>

				</form>
      </div>

      <!-- right side -->
      <div class="col-12 col-md-6 text-display-container hide-on-load"></div>
    </div>

  </div>
  <script src='https://cdn.jsdelivr.net/gh/naptha/tesseract.js@v1.0.14/dist/tesseract.min.js'></script>
  <script src="/js/jquery-3.3.1.min.js"></script>
  <script src="/js/datepicker.min.js"></script>
  <script src="/js/pdf.js"></script>
  <script src="/js/pdf.worker.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
