  <nav class="navbar navbar-expand-sm navbar-light bg-light sticky">
  <a class="navbar-brand" href="https://indiancinema.web.illinois.edu/">Indian Cinema</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% for (let i = 0; i < routes.length; i++) { %>
        <li class="nav-item <%= routes[i].url === url ? 'active' : '' %>">
          <a class="nav-link" href="<%= routes[i].url %>"><%= routes[i].tabname %></a>
        </li>
      <% } %>
      <li class="nav-item dropdown">
        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> <%= username %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="TODO">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
