<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Indian Newspaper Reader</title>

  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/NewEntryDetail.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/datepicker.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
  <% include nav %>
  <div class="container pt-4">
    <!-- date -->
    <div class="row">
      <div class="col-md-6 offset-md-3 col-12">
        <div class="form-group">
          <label for="date">Date</label>
          <div class="input-group">
            <input name="date" class="form-control" type="text" id="date" onkeydown="return false;" aria-describedby="date" disabled value="<%= date %>">
          </div>
        </div>
      </div>
    </div>
    <!-- movie name -->
    <div class="row">
      <div class="col-md-6 offset-md-3 col-12">
        <div class="form-group">
          <label for="movie-name">Movie Name</label>
          <div class="dropdown">
            <input type="text" class="form-control" id="movie-name" oninput="fuzzySearchMovie(); hideAlert()" aria-describedby="movieName">
            <!-- unclickable drop down toggle, only toggle through js -->
            <div class="d-none dropdown-toggle" id="movie-dropdown" data-toggle="dropdown"></div>
            <!-- drop down -->
            <div class="dropdown-menu" aria-labelledby="movieSearchResult" id="movie-dropdown-content">
              <div class="text-center">No result</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- theater names -->
    <div class="row">
      <div class="col-md-6 offset-md-3 col-12">
        <div class="form-group">
          <label for="theater-names">Theater Names</label>
          <div class="dropdown">
            <div class="input-group">
              <!-- search bar -->
              <input type="text" class="form-control" oninput="fuzzySearchTheater(); hideAlert();" id="theater-names" aria-describedby="TheaterNames" aria-haspopup="true" aria-expanded="false">

              <!-- unclickable drop down toggle, only toggle through js -->
              <div class="d-none dropdown-toggle" id="theater-dropdown" data-toggle="dropdown"></div>
              <!-- drop down -->
              <div class="dropdown-menu" aria-labelledby="theaterSearchResult" id="theater-dropdown-content">
                <div class="text-center">No result</div>
              </div>
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fas fa-search"></i>
                </span>
              </div>
            </div>
          </div>
          
          <!-- added theater name container -->
          <div class="mt-2" id="theater-names-conatiner"></div>
        </div>
      </div>
    </div>
    <!-- error alert -->
    <div class="row">
      <div class="col-md-6 offset-md-3 col-12">
        <div class="alert alert-danger hide-on-load" role="alert" id="error-alert"></div>
      </div>
    </div>
    <!-- success alert -->
    <div class="row">
      <div class="col-md-6 offset-md-3 col-12">
        <div class="alert alert-success hide-on-load" role="alert" id="success-alert">Successfully saved entry</div>
      </div>
    </div>
    <!-- buttons -->
    <div class="row justify-center">
      <button class="btn btn-primary uniformed-btn" id="add-entry">Add entry</button>
    </div>
    <div class="row justify-center mt-2">
      <button class="btn btn-outline-success uniformed-btn" id="change-date">Change date</button>
    </div>

    <!-- Add Theater Modal -->
    <div class="modal fade" id="addTheaterModal" tabindex="-1" role="dialog" aria-labelledby="addTheaterModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addTheaterModalLabel">Add Theater</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="newTheaterName">Theater Name<span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="newTheaterName" oninput="hideModalAlert()">
            </div>
            <div class="form-group">
              <label for="newTheaterTown">Town Name</label>
              <input type="text" class="form-control" id="newTheaterTown" oninput="hideModalAlert()">
              <small class="form-text text-muted">This usually appears in parentheses after the theater name</small>
            </div>
            <!-- error alert -->
            <div class="row">
              <div class="col-md-6 offset-md-3 col-12">
                <div class="alert alert-danger hide-on-load" role="alert" id="modal-error-alert"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="addNewTheater()">Add</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/datepicker.min.js"></script>
  <script src="js/fuse.js"></script>
  <script src="js/NewEntryDetail.js"></script>

</body>
</html>
