.img-container {
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-display-container {
  height: 100vh;
  background-color: green;
}

.hide-on-load {
  display: none;
}
.custom-file-label {
  overflow: hidden;
}
